.Header {
  border-bottom: 1px solid #cecece61;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 8%;
  z-index: 1;
}
.header-user-icon,
.header-settings-icon {
  height: 8%;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: left; */
  /* width: 100%; */
}
#head-user-icon {
  
margin: 0 auto 0 0;
  height: 50%;
  width: 50%;
  color: rgb(169, 169, 169);
}
#head-settings-icon {
  margin: 0 0 0 auto;

  height: 50%;
  width: 50%;
  color: rgb(169, 169, 169);
}
