header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100px; */
  background-color: #0066cb;
}
header div {
  width: 100%;
  background-color: white;
}
.logo {
  background-color: grey;
  width: 30%;
}
.intro{
  width: 90%;
  font-size: 20px;
  margin: 10px auto;
}
.text{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  border-top: 10px solid#0066cb;

}
.main-sam {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}
.container {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.637);

  padding: 25px;
  margin-bottom: 25px;
}
.bottom-container {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.637);

  padding: 10px;
  margin-bottom: 25px;
}

.main-sam p {
  padding-left: 10px;
  padding-right: 10px;
}
button {
  display: flex;

  align-items: center;
  /* max-width: 40%; */
  margin: 0 auto;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em;

  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
}
button:hover {
  background: linear-gradient(45deg, #51fcd4, #1247f5);
  transition: 500ms;
}
header h1 {
  font-family: roboto condensed;
  color: white;
  float: left;
  font-size: 20px;
  margin: 10px 5px 10px 22px;
  text-transform: uppercase;
  text-decoration: none;
}
.outside-pic {
  width: 100%;
  height: auto;
}
.inside-pic {
  width: 100%;
  height: auto;
}
.video-container {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.video-container:hover #play-icon {
  color: #3b5df1af;
}
.video-container img {
  margin: 0;
  display: flex;
  width: 100%;
  height: auto;
}
.donate {
  width: 100px;
}
#donate-icon {
  display: flex;
  align-content: center;
  /* flex-direction: column; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 0 0 0 auto; */
  margin-right: 5px;
  color: #3e3e3e3f;
}
#play-icon {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  color: #98aafa8e;
}
#play-icon:hover {
  color: #98aafa8e;
}
.rating-p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}
.four-stars {
  height: 20px;
  font-size: 24px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}
footer{
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.255);
  background-color: rgba(128, 128, 128, 0.44);
  margin: 0;
  padding-bottom: 10px;

}
footer p{
  margin: 0;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
 
}
#footer-icon {
  display: flex;
  align-content: center;
  /* flex-direction: column; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 0 0 0 auto; */
  margin-right: 5px;
  color: #3e3e3e3f;
}
.top-icons{
  padding: 10px;
border-top: 1px solid rgba(0, 0, 0, 0.317);
border-bottom: 1px solid rgba(0, 0, 0, 0.317);


}
.star-section p{
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .container{
    display: flex;
    flex-direction: row;
  }
  .main-sam p{
    padding-top: 20px;
    padding-left: 25px;
  }
  .cont-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    float: left;
    /* margin: 10px; */
  }
  .outside-pic{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   object-fit: cover;
   
  }
  .container p{
    margin: 0;
  }
 .star-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .star-section p{
    margin-top: 20px;
    text-align: center;
  }
  .text{
    margin-right: 25px;
  }
  .intro{
    font-size: 24px;
  }
  header h1{
    font-size: 32px;
    padding-left: 30px;
  }
  header div{
    padding-left: 50px;
  }
}

@media screen and (min-width: 1000px) {
 
  .four-stars {
    font-size: 34px;
    width: 50%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .text{
    font-size: 20px;
  }
}