*{
  box-sizing: border-box
}

.Dashboard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  position: relative;
}
.header-h1{
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 0;
}
.DashHeader {
  position: relative;
  border-bottom: 1px solid #cecece61;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 5%;
}
.header-sign-out-icon span{
  color: #04010100;
  width: 0;
}
.header-user-icon {
  position: absolute;
  z-index: 2;
  padding: 0;

  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header-user-icon {
  display: flex;
  flex-direction: column;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  margin-left: 10px;
  z-index: 3;
  border: 1px solid rgb(0, 217, 255);

}
.header-settings-icon,
.header-sign-out-icon {
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50px;
  cursor: pointer;
  z-index: 5;
}

.header-nav-icons {
  margin-left: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#head-settings-icon,
#head-sign-out-icon {
  margin: 0 auto;

  height: 50%;
  width: 50%;
  color: rgb(169, 169, 169);
}
#head-settings-icon:hover,
#head-sign-out-icon:hover {
  color: rgb(128, 128, 128);
}
.error-alert {
  margin: 0 auto;
  color: rgb(208, 2, 2);
  margin-bottom: 10px;
  text-align: center;
}