.AddGroupPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 65%;
}
.add-group-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; 
  height: 100%;
  overflow: auto;
}
.add-group-request {
  display: flex;
  align-items: center;
  align-content: center;
  
  padding: 10px;
  height: 100%;
  width: 80%;
  margin: 10px auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}