.AddGroupPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 65%;
  margin: 5px auto;
  width: 100%;
  max-width: 1000px;
}
.add-group-container {
  height: 100%;
  margin-bottom: 20px;
  overflow: scroll;
}
.add-group-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  overflow: auto;
}
.join-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: #ffffff;
  height: fit-content;
  justify-content: flex-start;
  text-align: center;
  /* margin-bottom: 50px; */
  overflow: auto;

}
.add-group-avatar {
  background-color: #ffffff;
  /* height: 35%; */
}
.add-group-fontawesome {
  background-color: #ffffff;
}
.group-photo-background {
  position: fixed;
  /* height: 100vh; */
  width: 100vw;
  background: #00000075;
  z-index: 2;
}
.group-photo-model {
  position: absolute;
  height: 70%;
  width: 85%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  border-radius: 7px;
  z-index: 3;
}
#group-drop-area {
  width: 80%;
  height: 100px;
  border: 2px dashed #013af5a7;
  margin: 0 auto;
  padding: 15px;
  border-radius: 7px;
}
#handle-group-photo {
}
#user-icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  /* height: 100px; */
  border-radius: 50%;
  border: 1px solid #5b5b5b;
  /* overflow: hidden; */
  margin: 0 auto;
  background-color: #c7c7c7;
  color: #3e3e3e;
}
.add-group-phone-location-div {
  display: flex;
  height: 11%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.join-form h2,
.add-group-form h2 {
  margin: 0;
}
.add-group-name-label {
  height: 30px;
}
#group-names,
#group-public-private {
  height: 100%;
  padding: 0.5em;
  border-radius: 7px;
  width: 200px;
  margin-bottom: 10px;
}
#group-public-private {
  margin: 0 auto;
  margin-top: 20px;
}
.join-div {
  display: flex;
  flex-direction: column;
  height: 35%;
  margin-top: 0;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.add-group-phone-label {
  width: 50%;
  background-color: #ffffff;
}
.add-group-phone {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-group-location-label {
  width: 50%;
  background-color: #ffffff;
}
.add-group-location {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-group-name-label,
.add-group-pitch-textarea-label,
.add-group-time-date-label {
  height: 11%;
  background-color: #ffffff;
  /* margin-bottom: 20px; */
}
.add-group-name-label {
  /* margin-top: 20px; */
}
.add-group-name,
.add-group-pitch-textarea,
.add-group-time-date {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-group-more-info-label {
  height: 11%;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.add-group-pitch-textarea-label {
  margin-bottom: 0;
}
.add-group-more-info {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  align-content: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}

.add-group-button,
.join-group-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 60%; */
  margin: 0 auto;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  letter-spacing: 0.15em;

  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.join-group-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-group-button:hover,
.join-group-button:hover {
  background: linear-gradient(45deg, #51fcd4, #1247f5);
  transition: 500ms;
}
