.AddEventPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  margin: 15px auto;
  width: 100%;
  max-width: 1000px;
}

.add-event-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  /* height: 80%; */
  justify-content: center;
}
.add-event-form h2 {
  text-align: center;
}
.event-group-icon div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #828282;
  opacity: 0.7;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.85rem;
  height: 30%;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}
.add-event-header-top {
  margin-top: 0;
  display: flex;
  height: 100px;
  width: 80%;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
.event-group-icon {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100px;
  border-radius: 5px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.add-event-avatar {
  background-color: #ffffff;
  height: 35%;
  margin-bottom: 20px;
}
.add-event-fontawesome {
  background-color: #ffffff;
}
#user-icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
  overflow: hidden;
  margin: 0 auto;
  background-color: #c7c7c7;
  color: #3e3e3e;
}
.add-event-date-time-div {
  display: flex;
  height: 11%;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.add-event-date-label {
  width: 50%;
  background-color: #ffffff;
}
.add-event-date {
  padding-left: 1em;
  display: flex;
  /* flex-direction: column; */
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  height: 95%;
  margin: 0 auto 0 0;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-event-time-label {
  width: 50%;
  background-color: #ffffff;
}
.add-event-time {
  padding-left: 1em;

  display: flex;
  /* flex-direction: column; */
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  height: 95%;
  margin: 0 0 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-event-announcements-label,
.add-event-bible-passage-label,
.add-event-lesson-label {
  height: 11%;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.add-event-announcements,
.add-event-bible-passage,
.add-event-lesson {
  padding-left: 1em;
  display: flex;
  /* flex-direction: column; */
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}

.add-event-needed-items-label,
.add-event-question-label {
  display: flex;
  height: 11%;
  background-color: #ffffff;
  /* margin-bottom: 20px; */
  width: 100%;
  justify-content: center;
}

.add-event-needed-items,
.add-event-question {
  padding-left: 1em;
  display: flex;
  /* flex-direction: column; */
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  align-content: center;
  height: 95%;
  /* margin: 0 auto; */
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-event-needed-items-label,
.add-event-question-label,
#needed-items,
#question {
  padding-right: 25px;
}
.add-event-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  letter-spacing: 0.15em;

  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.add-event-button:hover {
  background: linear-gradient(45deg, #51fcd4, #1247f5);
  transition: 500ms;
}

.add-event-event-banner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 15%;
}
.add-event-event {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 80%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
#delete-button {
  border-radius: 15%;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(213, 213, 213);
  padding: 0;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  margin-left: 2px;
  align-content: center;
}
#delete-button:hover {
  background-color: #747474;
  transition: 500ms;
}
#add-button {
  color: #ffffff;
  font-weight: 900;
  background-color: #0008fe;
  width: 25px;
  height: 25px;
  border-radius: 15%;
  margin-right: -25px;
  margin-bottom: 5px;
}
#add-button:hover {
  background-color: #17e7e4;
  transition: 500ms;
}
