.ChatPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 70%;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  /* position: relative; */
}
.chat-page-component{
  height: 90%;
}