.ChatPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 65%;
}
/* .chat-person-banner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}
.chat-person {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
}
.chat-person:hover {
  background-color: rgb(189, 189, 189);
} */
.chat-wall {
  display: flex;
  flex-direction: column;
  /* align-content: center;
  align-items: center; */
  /* height: 65%; */
  overflow: auto;
}
.chat-bubble {
  display: flex;
  align-items: center;
  align-content: center;

  padding: 10px;
  height: 200px;
  width: 80%;
  margin: 10px auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
