.ChatPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 75%;
  overflow: auto;
  margin: 15px auto;
  width: 100%;
  max-width: 1000px;
  position: relative;
}
.chat-page-component{
  height: 85%;
}