.Login {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
}
.login-header {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 24%;
  letter-spacing: .15em;

}
.login-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30%;
  overflow: hidden;
}

.login-header-content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
.login-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.5);
}
.login-header h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #ffffff;
}
.login-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 76%;
  justify-content: center;
}
.login-legend {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40%;
}
.login-user-label {
  height: 11%;
  background-color: #ffffff;
}
.login-user {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.login-password-label {
  height: 11%;
  background-color: #ffffff;
}
.login-password {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  align-content: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.login-button, .login-register-button {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  /* height: 100%; */
  padding-top: 20px;
}
.login-button, .login-register-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  margin: 10px auto;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: .15em;
  padding: 1em;
  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.login-button:hover, .login-register-button:hover {
  background: linear-gradient(45deg, #51fcd4, #1247f5);
  transition: 500ms;
}
