.Register {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
}

.register-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30%;
  overflow: hidden;
}

.register-header-content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
.register-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #03ffc4, #013af5);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.5);
}
.register-header h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #ffffff;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  height: 80%;
  justify-content: center;
}
.register-avatar {
  background-color: #ffffff;
  height: 35%;
  margin-bottom: 20px;
}
.register-fontawesome {
  background-color: #ffffff;
}
#user-icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
  overflow: hidden;
  margin: 0 auto;
  background-color: #c7c7c7;
  color: #3e3e3e;
}
.register-name-div {
  display: flex;
  height: 11%;
  margin-top: 20px;
  margin-bottom: 20px;

}
.register-first-label {
  width: 50%;
  background-color: #ffffff;
}
.register-first {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-last-label {
  width: 50%;
  background-color: #ffffff;
}
.register-last {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-user-label {
  height: 11%;
  background-color: #ffffff;
  margin-bottom: 20px;

}
.register-user {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-password-label {
  height: 11%;
  background-color: #ffffff;
  margin-bottom: 40px;

}
.register-password {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  align-content: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-button button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  background-color: #3645e9;
  font-size: 1.2em;
  color: #ffffff;
  padding: 1em;
  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.register-button button:hover {
  background-color: #0232f2;
  transition: 500ms;
}