.Register {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
}
.user-photo-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #00000075;
  z-index: 3;
}
.photo-model-x {
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  color: rgb(238, 133, 133);
  position: absolute;
  top: 10px;
  left: 10px;
}
.photo-model-x:hover {
  transition: 500ms;
  color: rgb(208, 43, 98);
}
.browse-div {
  text-align: center;
}
.good-photo-div{
  width: 100%;
  margin: 0 auto;
}
.photo-message {
  text-align: center;
  font-weight: bold;
  color: rgb(172, 40, 216);
  width: 100%;
  margin: 0;
}

.bad-photo-message {
  text-align: center;
  font-weight: bold;
  color: rgb(172, 40, 216);
}
.register-browse-button {
  border: 1px solid rgba(0, 0, 0, 0.39);
  padding: 0.3em 1em;
  border-radius: 7px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: rgb(2, 2, 250);
  width: 200px;
}
.drag-p {
  text-align: center;
}
.user-photo-model {
  position: absolute;
  height: 70%;
  width: 85%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  border-radius: 7px;
  z-index: 4;
}
#drop-area {
  width: 80%;
  height: 200px;
  border: 2px dashed #013af5a7;
  margin: 0 auto;
  padding: 15px;
  border-radius: 7px;
  margin-top: 70px;
}
#drop-area:hover {
  border: 2.5px dashed #0337e4;
}
.register-browse-button:hover {
  font-weight: bold;
  text-transform: uppercase;
}
#handle-user-photo {
}
.register-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.15em;
  height: 20%;
  overflow: hidden;
}

.register-header-content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
.register-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.5);
}
.register-header h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #000000;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  height: 80%;
  justify-content: center;
}
.register-avatar {
  background-color: #ffffff;
  height: 35%;
  margin-bottom: 20px;
}
.register-fontawesome {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.preview-photo-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
#preview-photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* border: 2px solid rgb(0, 217, 255); */
  /* box-shadow: 0 3px 15px 0 rgba(1, 208, 245, 0.986); */

}
#user-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
  overflow: hidden;
  margin: 0 auto;
  background-color: #c7c7c7;
  color: #3e3e3e;
  position: absolute;
  z-index: 1;
}
#preview-photo:hover{
  box-shadow: 0 2px 10px 0 rgba(1, 120, 247, 0.637);
  cursor: pointer;
  background-color: rgba(33, 33, 33, 0.253);
  transition: 500ms;
}
.register-name-div {
  display: flex;
  height: 11%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-first-label {
  width: 50%;
  background-color: #ffffff;
}
.register-first {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-last-label {
  width: 50%;
  background-color: #ffffff;
}
.register-last {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-user-label {
  height: 11%;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.register-user {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-password-label {
  height: 11%;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.register-password {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  align-content: center;
  height: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.register-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  letter-spacing: 0.15em;

  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.register-button:hover {
  background: linear-gradient(45deg, #51fcd4, #1247f5);
  transition: 500ms;
}
.error-alert {
  margin: 0 auto;
  color: rgb(208, 2, 2);
  margin-bottom: 10px;
  text-align: center;
}
