
.Private-Chat-Select {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 15%;
  width: 90%;
  overflow: auto;
  white-space: nowrap;
  margin-right: 20px;
  margin-left: 20px;

}
.chat-people{
  display: flex;
  height: 100%;
  width: 100%;
}
.chat-person {
  height: 100%;
  width: 100%;
 margin-right: 5px ;

}
.chat-person div{
  display: flex;
  align-items: center;
  align-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;

}
.chat-person:hover {
  background-color: rgb(189, 189, 189);
}