* {
  box-sizing: border-box;
}
.Chat-Wall-Component {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
  height: 60%;
}
.chat-component-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  margin: 10px auto;
}
.chat-header {
  border-bottom: 1px solid rgba(154, 154, 154, 0.447);
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  background-color: white;
  width: 100%;
}
.chat-header-top {
  margin-top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30%;
  z-index: 2;
  padding-bottom: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.637);
  max-width: 1000px;
}
.selected-group-name-chat {
  margin-bottom: 0;
}
.chat-add-photo-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #00000075;
  z-index: 2;
}
.chat-add-photo-model {
  position: absolute;
  height: 70%;
  width: 85%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  border-radius: 7px;
  z-index: 3;
}
#chat-drop-area {
  width: 80%;
  height: 100px;
  border: 2px dashed #013af5a7;
  margin: 0 auto;
  padding: 15px;
  border-radius: 7px;
}
.chat-user {
  width: 86%;
}
#chat-user-icon {
  display: flex;
  flex-direction: column;
  width: 25px;
  border-radius: 50%;
  height: 25px;
}
#chat-users-icon {
  display: flex;
  flex-direction: column;
  width: 25px;
  border-radius: 5px;
  height: 25px;
}

#chat-user-icons {
  width: 7%;
}
.chat-main {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.chat-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
#chat-thumbs-up-icon {
  margin-left: 10px;
}
.chat-input-container {
  border-top: 1px solid rgba(154, 154, 154, 0.447);
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -25px;
  background-color: white;
  max-width: 1000px;
}
.bubble-container {
  position: absolute;
  top: 60px;
  width: 100%;
}
.chat-input-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}
#chat-camera-icon {
  height: 20px;
}
.chat-input-text {
  border: 1px solid rgba(0, 0, 0, 0.276);
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
}
.chat-input-text:hover {
  background-color: rgb(240, 240, 240);
  transition: 500ms;
}
.message-submit-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.chat-wall-submit {
  margin-left: 5px;
  transform: rotate(20deg);
}
.message-submit-button span {
  width: 0;
  color: rgba(159, 27, 27, 0);
}
/* .label{
  width: 10px;
  color: rgba(159, 27, 27, 0);
} */
