* {
  box-sizing: border-box;
}
.Chat-Wall-Component {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
}
.chat-component-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 0;
  margin: 10px auto;
  /* border-radius: 10px; */
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.637);
}
.chat-header {
  border-bottom: 1px solid rgba(154, 154, 154, 0.447);
  padding-bottom: 5px;
  padding-top: 5px;
}
.chat-header-top {
  margin-top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.chat-header-top div {
}
.chat-add-photo-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #00000075;
  z-index: 2;
}
.chat-add-photo-model {
  position: absolute;
  height: 70%;
  width: 85%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  border-radius: 7px;
  z-index: 3;
}
#chat-drop-area {
  width: 80%;
  height: 100px;
  border: 2px dashed #013af5a7;
  margin: 0 auto;
  padding: 15px;
  border-radius: 7px;
}
#handle-chat-add-photo {
}
.chat-user {
  width: 86%;
}
#chat-user-icon {
  display: flex;
  flex-direction: column;
  width: 25px;
  border-radius: 50%;
  height: 25px;
}
#chat-users-icon {
  display: flex;
  flex-direction: column;
  width: 25px;
  border-radius: 5px;
  height: 25px;
}
.chat-header-top div,
#chat-user-icons {
  width: 7%;
}
.chat-main {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.chat-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
#chat-heart-icon,
#chat-thumbs-up-icon,
#chat-comment-icon,
#chat-dots-icon {
  margin-right: 20px;
}
.chat-input-container {
  border-top: 1px solid rgba(154, 154, 154, 0.447);
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.chat-input-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}
#chat-camera-icon {
  height: 20px;
}
.chat-input-text {
  border: 1px solid rgba(0, 0, 0, 0.276);
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border-radius: 25px;
  width: 90%;
}
.chat-input-text:hover {
  background-color: rgb(240, 240, 240);
  transition: 500ms;
}
