.Event-Select-Component {
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 15%;
  position: absolute;
  width: 100%;
  top: 3%;
  z-index: 6;
  background-color: white ;
  
}
.event-select-container{
  height: 100%;
  display: flex;
}
.event-select-view,
.event-select-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 80%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
#event-calendar-icon,
#add-event-icon, 
.event-select-add p,
.event-select-view p 
{
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  color: #013af5a7;

}
.event-select-add p,
.event-select-view p {
  width: 100%;
}
#event-calendar-icon:hover,
#add-event-icon:hover, 
.event-select-add p:hover,
.event-select-view p:hover {
  color: #002cbdd7;

 transition: 500ms;
}
