.Event-Select-Component {
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 15%;
  position: fixed;
  width: 100%;
  top: 24%;
  z-index: 6;
  background-color: white ;
  
}
.event-select-container{
  height: 100%;
  display: flex;
}
.event-select-view,
.event-select-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* padding-left: 5px;
  padding-right: 5px; */
  height: 80%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  /* background-color: rgb(223, 223, 223); */
  border-radius: 10px;
}
/* .event-select-view:hover,
.event-select-add:hover {
  background-color: rgb(189, 189, 189);
} */
#event-calendar-icon,
#add-event-icon, 
.event-select-add p,
.event-select-view p 
{
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  color: rgb(107, 194, 188);

}
.event-select-add p,
.event-select-view p {
  width: 100%;
}
#event-calendar-icon:hover,
#add-event-icon:hover, 
.event-select-add p:hover,
.event-select-view p:hover {
  color: rgb(64, 170, 163);

 transition: 500ms;
}
