.AddPrayerPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
}
.AddPrayerPage h2{
  margin: 10px auto;
}
.add-prayer-group-slide {
  display: flex;
  align-items: center;
  align-content: center;
  /* justify-content: space-evenly; */
  height: 30%;
  overflow: scroll;
}
.add-prayer-group {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 80%;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.add-prayer-group:hover,
.add-prayer-event:hover {
  background-color: rgb(189, 189, 189);
}
.add-prayer-event-banner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 15%;
}
.add-prayer-event {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 80%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.add-prayer-wall {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; 
  height: 50%;
  overflow: auto;
}
.add-prayer-request {
  display: flex;
  align-items: center;
  align-content: center;
  
  padding: 10px;
  height: 400px;
  width: 80%;
  margin: 10px auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}