.AddPrayerPage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 70%;
  margin: 15px auto;
  width: 100%;
  max-width: 1000px;
}

.add-prayer-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; 
  justify-content: center;
  height: 85%;
  overflow: auto;
  width: 100%;
}
.add-prayer-prayer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin: 20px auto;
}
.add-prayer-request-input{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  height: inherit;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #5b5b5b;
}
.add-prayer-request-label {
  height: 100%;
width: 100%;
}
.add-prayer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(45deg, #01ffc4, #013af5a7);
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  letter-spacing: 0.15em;

  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.add-prayer-button:hover {
  background: linear-gradient(45deg, #51fcd4, #1247f5);
  transition: 500ms;
}