*{
  box-sizing: border-box
}
.App, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height:  450px;
}
a {
  text-decoration: none;
}
@media screen and (min-height: 566px) {
  .App, html {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height:  568px;
  }
}
@media screen and (min-height: 638px) {
.App, html {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height:  640px;
}
}
@media screen and (min-height: 665px) {
  .App, html {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height:  667px;
  }
}
@media screen and (min-height: 729px) {
  .App, html {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height:  736px;
  }
}
@media screen and (min-height: 810px) {
  .App, html {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height:  812px;
  }
}
@media screen and (min-height: 1022px) {
  .App, html {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height:  1024px;
  }
}
@media screen and (min-height: 1364px) {
  .App, html {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height:  1366px;
  }
}
