.DashHomePage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 70%;
  overflow: auto;
  position: relative;
}
.dash-prayer-container{
  height: 100%;
  padding-bottom: 10px;
}