.DashHomePage {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
}
.dash-home-group-slide {
  display: flex;
  align-items: center;
  align-content: center;
  /* justify-content: space-evenly; */
  height: 30%;
  overflow: scroll;
}
.dash-home-group {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 80%;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.dash-home-event-banner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 15%;
}
.dash-home-event {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 80%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.dash-home-prayer-wall {
  display: flex;
  flex-direction: column;
  /* align-content: center;
  align-items: center; */
  height: 55%;
  overflow: scroll;
}
.dash-home-prayer-request {
  display: flex;
  align-items: center;
  align-content: center;
  
  padding: 10px;
  height: 200px;
  width: 80%;
  margin: 10px auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}