.Footer {
  border-top: 1px solid #cecece61;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 5%;
  z-index: 1;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
}
.footer-home-icon,
.footer-group-icon,
.footer-plus-icon,
.footer-invite-icon,
.footer-chat-icon {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.footer-chat-icon {
  position: relative;
}
#home-icon,
#group-icon,
#plus-icon,
#invite-icon,
#chat-icon {
  height: 70%;
  width: 100%;
  color: rgb(169, 169, 169);
}
#home-icon:hover,
#group-icon:hover,
#plus-icon:hover,
#invite-icon:hover,
#chat-icon:hover {
  color: rgb(128, 128, 128);
}
.notification-alert {
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 24px;
  /* right: 50%; */
  left: 55%;
  z-index: 5;
  color: rgb(34, 248, 15);
}
